<extend name="Public:innerbase" />
<block name="js">
<script type="text/javascript" src="{:RES}/js/spark.util.js"></script>
<include file="Public:upload" />
</block>
<block name="content">
<div class="container-fluid">
	<div class="page-header wm-page-header">
		<h4>兑换管理</h4>
	</div>
	<table class="table wm-table-bordered">
		<form id="info" method="post">
		<thead>
		<tr>
		<th width="70">姓名</th>
		<th width="80">电话</th>
		<th class="60">商品名</th>
		<th width="100">积分</th>
		<th class="160">状态</th>
		<th width="160">兑换时间</th>
		<th width="150" class="norightborder">操作</th>
		</tr>
		</thead>
		<tbody>
		<volist name="orders" id="o"> 
		<tr>
		<td>{$o.truename}</td>
		<td>{$o.tel}</td>
		<td>{$o['item']['name']}</td>
		<td>{$o.jifen}</td>
		<td><if condition="$o.status eq 1"><span style="color:green">已完成</span><else/><span style="color:red">未发货</span></if></td>
		<td>{$o.time|date="Y-m-d H:i:s",###}</td> 
		<td>
		<eq name="o.status" value="0">
		<a href="{:U('send',array('id'=>$o['id']))}">发货</a>
		</eq>
		<a href="javascript:spark.confirm_jump('您确定要删除吗?', '{:U('Jmall/deleteOrder',array('id'=>$o['id']))}');">删除</a>
		</td>
		</tr>
		</volist>
		</tbody>
		</form>
	</table>
	<div class="pages">{$page}</div>
</div>
</block>