<extend name="Public:innerbase" />
<block name="css">
<link rel="stylesheet" href="{:STATICS}/validation/css/validationEngine.jquery.css">
</block>
<block name="js">
<include file="Public:upload" />
<include file="Public:editor" />
<script type="text/javascript" src="{:STATICS}/validation/js/jquery.validationEngine.js"></script>
<script type="text/javascript" src="{:STATICS}/validation/js/jquery.validationEngine-zh_CN.js"></script>
<script>
$(function(){
	$("#editForm").validationEngine("attach",{ 
		promptPosition:"centerRight",
		scroll:true,
		showOneMessage:true
	});
});
</script>
</block>
<block name="content">
<div class="container-fluid">
	<div class="page-header wm-page-header">
		<h4>学员信息</h4>
		<a href="{:U('Edu/stu')}" class="btn btn-default btn-sm">
			<span class="glyphicon glyphicon-chevron-left"></span>&nbsp;返回
		</a>
	</div>
	<form id="editForm" class="form-horizontal" method="post">
		<input type="hidden" name="id" value="{$set.id}" />
		<div class="form-group">
			<label class="col-sm-2">名称</label>
			<div class="col-md-2">
				<input type="text" name="name" value="{$set.name}" class="form-control validate[required,maxSize[11]]" />
				<span class="help-block">不要超过8个字符</span>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2">校区</label>
			<div class="col-md-2">
				<select id="school_id" name="school_id" class="form-control">
					<option value="0">请选择校区...</option>
					<volist name="schools" id="school">
					<option value="{$school.id}" <if condition="$school['id'] eq $set['school_id']">selected</if>>{$school.name}</option>
					</volist>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2">学员成绩</label>
			<div class="col-md-2">
				<input type="text" id="label" name="label" value="{$set.label}" class="form-control" />
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2">学员成就</label>
			<div class="col-md-2">
				<input type="text" id="label2" name="label2" value="{$set.label2}" class="form-control" />
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2">学员照片</label>
			<div class="col-sm-6" >
				<input type="hidden" class="form-control" value="{$set.img}" id="img" name="img" />
				<img id="imgHolder" style="width:216px;" class="" <if condition="$set['img'] eq ''">src="{:RES}/images/photo/noneimg.jpg"</if> src="{$set.img}"/>
				<div class="btn-group" style="vertical-align:bottom;">
					<span class="btn btn-xs btn-primary" onclick="selectAsset('img')">
						<span class="glyphicon glyphicon-cloud-upload"></span>选择
					</span>
					<span class="btn btn-primary btn-xs" onclick="previewImg('img')">
						<span class="glyphicon glyphicon-picture"></span>预览
					</span>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2">学员详情</label>
			<div class="col-md-6">
				<textarea class="form-control" name="desc" id="content" rows="5" style="height:260px">{$set.desc}</textarea>
			</div>
		</div>
		<div class="form-group">
            <label class="col-sm-2">排序</label>
            <div class="col-md-1">
                <input type="text" id="sort" name="sort" value="{$set.sort|default=1}" class="form-control validate[required,custom[integer],min[1],max[255]" />
                <span class="help-block">范围1-255，越小越靠前</span>
            </div>
        </div>
		<div class="form-group">
			<div class="col-md-5 col-sm-offset-2">
				<input type="submit" class="btn btn-primary" value="保存" />
			</div>
		</div>
	</form>
</div>
</block>