<extend name="Public:innerbase" />
<block name="js">
<script type="text/javascript" src="{:RES}/js/spark.util.js"></script>
</block>
<block name="content">
<div class="container-fluid">
	<div class="page-header wm-page-header">
		<h4>商品管理</h4>
	</div>
	<a style="margin:10px 0;" href="{:U('Product/add')}" title="添加" class="btn btn-primary">添加商品</a>
	<table class="table wm-table-bordered">
		<thead>
		<tr>
		<th width="20">选择</th>
		<th width="160">商品名称</th>
		<th width="120">商品分类</th>
		<th width="60">价格</th>
		<th width="130">修改时间</th>
		<th width="200" class="norightborder">操作</th>
		</tr>
		</thead>
		<tbody>
		<volist name="list" id="hostlist"> 
		<tr>
		<td><input type="checkbox" name="del_id[{$i}]" value="285" class="checkitem"></td>
		<td>{$hostlist.name}</td>
		<td>{$hostlist['catname']}</td>
		<td>{$hostlist.price}元</td>
		<td>{$hostlist.time|date="Y-m-d H:i",###}</td> 
		<td>
		<a class="btn btn-xs btn-default" href="{:U('Product/set',array('id'=>$hostlist['id']))}">修改</a>
		<a class="btn btn-xs btn-danger" href="javascript:spark.confirm_jump('您确定要删除吗?', '{:U('Product/del',array('id'=>$hostlist['id']))}');">删除</a>
		</td>
		</tr>
		</volist>
		</tbody>
	</table>
	<div>{$page}</div>
</div>
</block>