
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="keywords" content="">
<title>新手学堂</title>
<meta name="format-detection" content="telephone=no">
<meta name="format-detection" content="email=no">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, maximum-scale=1.0, user-scalable=1" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="Keywords" content="" />
<meta name="Description" content="" />
<link rel="stylesheet" href="{:RES}/jinrong/Mobile/Public/css/help.css" />
<script type="text/javascript">
    document.documentElement.style.fontSize = 100 * innerWidth / 320 + 'px'
        addEventListener('load', function() {
        setTimeout(function(){
            document.documentElement.style.fontSize = 100 * innerWidth / 320 + 'px';
        }, 480);
        var isInApp = (window.self != window.top);
        if (!isInApp) {
            window.parent.postMessage({name: 'web:inject', token: Math.random().toString(), usertype: 1}, '*');
        }
    })
    addEventListener('orientationchange', function() {
        document.documentElement.style.fontSize = 100 * innerWidth / 320 + 'px'
    });
</script>
</head>
<body>
<div class="jywpqawrap">
	
    <div class="jywpqalist">
    	<div class="qtext">什么是港云外汇？</div>
        <div class="atext">只判断涨跌即可赚钱，最快60秒完成交易，每笔收益高达85% ，小投入大回报！可选择判断外汇货币对等资产60秒后涨跌情况，只要涨跌方向判断正确，60秒即可获得高达85%的投资收益，快速、高效、安全、透明</div>
    </div>
    <div class="jywpqalist">
    	<div class="qtext">港云外汇提供什么投资服务？</div>
        <div class="atext">只需20元起步，低成本投资外汇兑换等现货品种，微信充值，无手续费秒到账，收益可随时提现。</div>
    </div>
    <div class="jywpqalist">
    	<div class="qtext">港云外汇是赌博吗？</div>
        <div class="atext">广义上来说，所有的金融产品都有赌博性质，港云外汇也不例外。狭义上来说，港云外汇可以透过技术指标、基本面分析来判断方向，不算赌博。</div>
    </div>
    <div class="jywpqalist">
    	<div class="qtext">港云外汇跟猜大小一样吗?</div>
        <div class="atext">表面上看起来港云外汇就像猜大小，但猜大小的概率是各50%，而交易港云外汇时我们可以透过技术分析、基本面分析让胜率达到60%以上，甚至更高，所以从本质上来说是不一样的。</div>
    </div>
    <div class="jywpqalist">
    	<div class="qtext">港云外汇交易有没有可能被操纵？</div>
        <div class="atext">国际大宗商品现货市场及国际外汇市场的交易量巨大，例如外汇市场目前的日交易量达到了5万亿美元的级别，你没看错是「日交易量」，外汇市场10天的交易量就比2015年中国一整年的股票交易量还高！如此巨大的交易量面前几乎没有任何政府、机构可以操纵市场，港云外汇又是极短线的交易，所以几乎是不可能有任何机构、政府可以操控的</div>
    </div>
    <div class="jywpqalist">
    	<div class="qtext">港云外汇易最低入金多少？有手续费吗？</div>
        <div class="atext">超低门槛，充值10元，即可开始交易。港云外汇平台为撮合交易，目前不收取任何手续费。</div>
    </div>
   <!--  <div class="jywpqalist" style="display:none;">
    	<div class="qtext">新用户充值100%赠金？</div>
        <div class="atext">是的，你没看错！活动期间所有用户单笔充值100元以上均可参见充值100%赠金活动！真金白银充值多少送多少，达到交易流水要求，充值赠金盈利均可提现。</div>
    </div> -->
   
    <div class="jywpqalist">
    	<div class="qtext">收益可否随时提现？</div>
        <div class="atext">当然可以！任何操作所获得的收益，都能24小时随时提现，到账时间因各银行差异，一般为1-3个工作日。</div>
    </div>
    <div class="jywpqalist">
    	<div class="qtext">微信支付：三方资金监管</div>
        <div class="atext">充值、提现等资金流水均由微信支付第三方操作，支持的银行包括中国银行、工商银行、建设银行、农业银行、交通银行、光大银行、中信银行、招商银行等各大商业银行。</div>
    </div>
    <div class="jywpqalist">
    	<div class="qtext">平台系统三大安全保证。</div>
        <div class="atext">
        	<ul>
            	<li>
                	<div class="title"><span>交易</span>安全保证</div>
                    <p>三大贵金属交易中心权威认证，洲际交易所授权旭禾投资开放港云外汇各类资产投资。</p>
                </li>
                <li>
                	<div class="title redbg"><span>资金</span>安全保证</div>
                    <p>微信支付：三方资金监管，支持各大商业银行在线充值，微信提现10分钟到账。</p>
                </li>
                <li>
                	<div class="title bluebg"><span>系统</span>安全保证</div>
                    <p>已经同时通过ISO9001、ISO20000、ISO27001三种国际标准认证，证明在质量管理、IT服务管理、信息安全管理三方面已与国际先进水平接轨。</p>
                </li>
            </ul>
        </div>
    </div>

</div>

</body>
</html>