<extend name="Public:innerbase" />
<block name="content">
	<div class="container-fluid">
		<div class="page-header wm-page-header">
			<h3>视频列表</h3>
			<code>{:url(U('Wap/Ski/video_index?token='.session('token')),'WAP_DOMAIN')}</code>
		</div>
		<a class="btn btn-success" href="{:U('video_set')}"><span class="glyphicon glyphicon-plus"></span>添加视频</a>
		<hr/>
		<table class="table wm-table-bordered table-striped table-hover">
			<thead>
				<tr>
					<th>名称</th>
					<th>分类</th>
					<th>创建时间</th>
					<th>排序</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<volist name="list" id="vo">
				<tr>
					<td>{$vo.title}</td>
					<td>{$vo.catename}</td>
					<td>{$vo.time|date="Y-m-d H:i",###}</td>
					<td>{$vo.sort}</td>
					<td>
						<a href="{:U('video_set',array('id'=>$vo['id'],'p'=>$_GET['p']))}" class="btn btn-primary btn-xs">编辑</a>
						<a href="{:U('video_del',array('id'=>$vo['id']))}" class="btn btn-danger btn-xs">删除</a>
					</td>
				</tr>
				</volist>
			</tbody>
		</table>
		<div>{$page}</div>
	</div>
</block>