<div id="head">
	<img height="50" src="">
</div>
<div id="nav">
	<ul class="navlist">
    	<li id="n_0">
			<a href="javascript:history.go(-1);"><span></span></a>
        </li>
        <li class="r active" id="n_1"><a href="{:U('Index/index',['token'=>$token])}"><span></span></a></li>
        <li class="r" id="n_2"><a href="{:U('User/index',['token'=>$token])}"><span></span></a></li>
        <li class="r" id="n_3"><a href="{:U('Cart/index',['token'=>$token])}"><span></span></a></li>
    </ul>
</div>