
<!doctype html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <title>修改密码</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="wap-font-scale" content="no">
	<link rel="stylesheet" href="{:RES}/jinrong/Mobile/Public/css/style.css">
	<link rel="stylesheet" href="{:RES}/jinrong/Mobile/Public/css/common.css"> 
</head>
<body class="page-mobile ">
    <div class="wrapper setpsw-wrapper">
    <!-- 修改登录密码 S -->
    <div >
        <div class="h10"></div>
        <ul class="com-columns span6">
            <li class="comc-item">
                <div class="com-formbox">
                    <span class="formbox-hd">旧密码</span>
                    <span class="formbox-bd"><input type="password" id="old_password" maxlength="16" class="input-txt" placeholder="旧密码"/></span>
                </div>
            </li>
            <li class="comc-item">
                <div class="com-formbox">
                    <span class="formbox-hd">新密码</span>
                    <span class="formbox-bd"><input type="password" id="new_password" maxlength="16" class="input-txt" placeholder="新密码"/></span>
                </div>
            </li>
            <li class="comc-item">
                <div class="com-formbox">
                    <span class="formbox-hd">确认新密码</span>
                    <span class="formbox-bd"><input type="password" id="re_password" maxlength="16" class="input-txt" placeholder="确认新密码"/></span>
                </div>
            </li>
        </ul>

        <!-- 通用按钮 S -->
        <div class="def-p com-btnbox mt30">
            <a href="javascript:void(0);" class="btn btn-1" id="submit_but">提交</a>
        </div>
        <!-- 通用按钮 E -->
    </div>
    <!-- 修改登录密码 E -->
</div>
<div class="loading-wrapper" style="display: none;">
<div class="loading-area">
<div id="floatingBarsG1" class="floatingBarsG"></div>
<p id="msg"></p> 
</div>
<div class="mask" style="opacity: 0.3;"></div>
</div>
<script type='text/javascript'>var ROOT = "";</script>
<script src="{:RES}/jinrong/Mobile/Public/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="{:RES}/jinrong/Mobile/Public/js/common.js"></script> 
<script type="text/javascript" src="{:RES}/jinrong/Mobile/Public/js/ajax_return.js?k=1.1"></script>
</body>
</html>