
<!doctype html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <title>我的收益</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="wap-font-scale" content="no">
	<link rel="stylesheet" href="{:RES}/jinrong/Mobile/Public/css/style.css">
	<link rel="stylesheet" href="{:RES}/jinrong/Mobile/Public/css/common.css"> 
	<link rel="stylesheet" href="{:RES}/jinrong/Mobile/Public/css/ucenter.css"> 
	<style> body{padding-bottom:80px;}</style>
</head>
<body class="page-mobile ">
<div class="jz-head">
<a href="###" id="account_icon_btn" class="pos-left head-show jz-my_head">
<img src="{$user['headimgurl']}" width="33" height="33" alt="">
</a>
<span>{$user['wechat_name']}</span>
<a href="{:U('user/recharge')}" id="screen" class="font-sm pos-right">充值</a>
</div>
    <div class="account-top-view text-center">
        <p class="font-sm">余额(元)</p>
        <p class="account-total">{$user['money']}</p>
        <span class="span-right">累计提现：<if condition="$date['ticount'] eq ''">0.00<else />{$date['ticount']}</if></span>
		<span class="span-left">累计充值：{$date['paycount']}</span>
    </div>
<div class="water">
<div class="water-1"></div>
<div class="water-2"></div>
</div>

    <div class="wrapper investrecord-wrapper">
        <!-- 投资记录 S -->
    <table class="rec-table rec-table4" id="all_list">
        <tr class="rec-tr">
            <th class="rec-th">类型</th>
            <th class="rec-th">金额</th>
            <th class="rec-th">时间</th> 
			<th class="rec-th">状态</th>
        </tr>
    </table>
    <!-- 投资记录 E -->

<div class="com-empty hide"><div class="come-txt"></div></div> 
<div class="more-btn hide">
<a href="javascript:void(0);" style="display: block;"></a>
<div class="loading">
<span id="floatingBarsG2" class="floatingBarsG"></span><span>加载中...</span>
</div>
</div>
</div> 
<script type='text/javascript'>var ROOT = "";</script>
<script src="{:RES}/jinrong/Mobile/Public/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="{:RES}/jinrong/Mobile/Public/js/common.js"></script>
<script type="text/javascript" src="{:RES}/jinrong/Mobile/Public/js/pay_water.js"></script>
<script type="text/javascript">
$(function(){
    $('.jz-footer ul a').removeClass('active');
})</script>

<include file="Public:footer"/>

	</body>
</html>