<extend name="Public:innerbase" />
<block name="content">
<div class="container-fluid">
	<div class="page-header">
		<a href="{:U('card')}" class="btn btn-sm btn-default">
			<span class="glyphicon glyphicon-chevron-left"></span>&nbsp;返回
		</a>
	</div>
	<!-- Nav tabs -->
	<ul class="nav nav-tabs">
		<li><a href="{:U('Membercard/privilege',['cid'=>$_GET['cid']])}">VIP特权</a></li>
		<li><a href="{:U('Membercard/coupon',['cid'=>$_GET['cid']])}">优惠券</a></li>
		<li class="active"><a href="javascript:void(0)">礼品券</a></li>
	</ul>
	<div class="page-header wm-page-header">
		<a class="btn btn-primary" href="{:U('Membercard/integral_add',['cid'=>$_GET['cid']])}">发布礼品券</a>
	</div>
	<table class="table wm-table-bordered">
		<thead>
		<tr>
			<th class="answer">名称</th>
			<th class="time">开始时间</th>
			<th class="time">过期时间</th>
			<th class="edit norightborder">操作</th>
		</tr>
		</thead>
		<tbody>
		<volist name="data_vip" id="data_vip">           
		<tr>
			<td><div class="answer_text">{$data_vip.title}</div></td>  
			<td><if condition="$data_vip['type'] eq 1">无时间限制<else/>{$data_vip.startdate|date='Y-m-d',###}</if></td>
			<td><if condition="$data_vip['type'] eq 1">无时间限制<else/>{$data_vip.enddate|date='Y-m-d',###}</if></td>
			<td>
				<a class="btn btn-xs btn-default" href="{:U('Membercard/integral_edit',array('id'=>$data_vip['id'],'cid'=>$_GET['cid']))}">编辑</a>
				<a class="btn btn-xs btn-danger" href="{:U('Membercard/integral_del',array('id'=>$data_vip['id'],'cid'=>$_GET['cid']))}">删除</a>
			</td>
		</tr>
		</volist>
		</tbody>
	</table>
</div>
</block>