<extend name="Public:innerbase"/>
<block name="content">
	<div class="container-fluid">	
		<div style="margin:10px 0;">
		<a href="{:U('Score/index')}"  title="返回" class="btn btn-error">返回</a>
			<a href="{:U('Score/addshop',array('pid'=>$pid))}"  title="添加商品" class="btn btn-success">添加商品</a>
		</div>
		<table class="table table-striped wm-table-bordered">
			<thead>
				<tr>
					<th>签到次数</th>	
					<th>文字</th>
					<th>展示图片</th>			
					<th class="norightborder">操作</th>
				</tr>
			</thead>
			<tbody>
				<volist id="list" name="list">
				<tr>
					<td>{$list.num}</td>
					<td>{$list.signtxt}</td>
					<td><img src="{$list.shop_img}" width="100px" height="100px"></td>
					<td class="norightborder">
						<a href="{:U('Score/editshop',array('id'=>$list['id'],'pid'=>$pid))}" title="编辑">编辑</a> |
						<a href="javascript:spark.confirm_jump('您确定要删除吗?', '{:U('Score/delshop',array('id'=>$list['id']))}');">删除</a> 
					</td>
				</tr>
				</volist>
			</tbody>
        </table>
	</div>
</block>