<extend name="Public:innerbase" />
<block name="content">
<div class="container-fluid">
	<div class="page-header wm-page-header">
		<h3>子楼盘管理</h3>   
	</div>
	<form class="form-horizontal" method="post" action="">
		<if condition="$son['id'] neq ''">
		<input type="hidden" name="id" value="{$son['id']}" />
		</if>
		<input type="hidden" name="pid" value="{$pid}">
		<div class="form-group">
			<label for="title" class="control-label col-sm-2">子楼盘名称</label>
			<div class="col-md-4">
				<input type="text" id="title" name="title" value="{$son['title']}" class="form-control" />
			</div>
			<div class="col-md-2"> <span class="text-warning">尽量简单，不要超过20字</span></div>
		</div>
		<div class="form-group">
			<label for="sort" class="control-label col-sm-2">显示顺序</label>
			<div class="col-md-4">
				<input type="text" id="sort" name="sort" value="{$son['sort']|default=1}" class="form-control" />
			</div>
			<div class="col-md-2"> <span class="text-warning">数值越大越靠前</span></div>
		</div>
		<div class="form-group">
			<label for="description" class="control-label col-sm-2">子楼盘介绍</label>
			<div class="col-md-4">
				<textarea id="description" name="description" class="form-control" placeholder="可选">{$son['description']}</textarea>
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-4 col-sm-offset-2">
				<button type="submit" name="button" class="btn btn-primary">保存</button>
			</div>
		</div>
	</form>
</div>
</block>