<extend name="Public:innerbase" />
<block name="css"></block>
<block name="js">
<script type="text/javascript" src="{:RES}/js/spark.util.js"></script>
</block>
<block name="content">
<div class="container-fluid">
	<div class="page-header wm-page-header">
		<h3>微助力管理</h3>
	</div>
	<!-- Nav tabs -->
	<ul class="nav nav-tabs">
		<li ><a href="{:U('User/Power/set')}">首页配置</a></li>
		<li><a href="{:U('User/Power/activity')}">活动管理</a></li>
		<li class="active"><a href="javascript:void(0)">幻灯片管理</a></li>
		<li><a href="{:U('User/Power/message')}">留言管理</a></li>
		
	</ul>
    <div style="margin-top:10px;">
		<a style="margin:10px 0;" href="{:U('Power/addimg')}" title="添加" class="btn btn-primary">添加幻灯片</a>
	<table class="table wm-table-bordered">
		<thead>
		<tr>
			<th style=" width:160px;">幻灯片图片</th>
			<th style=" width:120px;">幻灯片描述</th>
			<th>幻灯片外链地址</th>
			<th>排序</th>
			<th style=" width:200px;" class="norightborder">操作</th>
		</tr>
		</thead>
		<volist name="info" id="vo">
		<tr>
			<td>
				<div class="cateimg">
					<img src="{$vo.img}" class="img-thumbnail" style="width:72px;height:40px"/>
				</div>
			</td>
			<td>{$vo.info}</td>
			<td>{$vo.url}</td>
			<td>{$vo.sort}</td>
			<td>
				<a class="btn btn-xs btn-danger" href="{:U('Power/del',array('id'=>$vo['id']))}">删除</a>
			</td>
		</tr>
		</volist>  
	</table>
	<div class="pages">{$page}</div>
  </div> 
</div>
</block>
