<extend name="Public:innerbase"/>
<block name="css">
<link rel="stylesheet" href="{:STATICS}/kindeditor/themes/default/default.css" />
<link rel="stylesheet" href="{:STATICS}/kindeditor/plugins/code/prettify.css" />
<style class="text/css">
.tab-content{
	padding: 20px 10px 0;
}
.award-img{
	width:80px;height:80px;
}
.btn-upload input[type="file"]{
	position: absolute;
	opacity: 0;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	margin:0;
	padding:0;
	cursor: pointer;
	z-index: 10000;
}
.award-img-wrapper{position:relative;display: inline-block;margin-right:10px;}
.award-img-warpper img{}
.img-remove{position:absolute;right:0;top:0;width:30px;height:30px;color:rgb(155, 155, 155);cursor:pointer;background:url(/Public/Common/images/triangle-close.png) center no-repeat}
.img-remove:hover{color:red;}
</style>
</block>
<!--link rel="stylesheet" href="{:STATICS}/vote/style.css" /-->
<block name="js">
<include file="Public:upload" />
<script src="{:STATICS}/kindeditor/kindeditor.js" type="text/javascript"></script>
<script src="{:STATICS}/kindeditor/lang/zh_CN.js" type="text/javascript"></script>
<script src="{:STATICS}/kindeditor/plugins/code/prettify.js" type="text/javascript"></script>
<script src="{:RES}/js/date/WdatePicker.js" type="text/javascript"></script>
<script src="{:STATICS}/vote/common.js" type="text/javascript"></script>
<script type="text/javascript" src="{:STATICS}/validation/js/jquery.validationEngine-zh_CN.js"></script>
<script type="text/javascript" src="{:STATICS}/js/holder.min.js"></script>
<script type="text/javascript" charset="utf-8" src="{:STATICS}/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="{:STATICS}/ueditor/ueditor.all.min.js"> </script>
<script type="text/javascript" charset="utf-8" src="{:STATICS}/ueditor/lang/zh-cn/zh-cn.js"> </script>
<script type="text/javascript">
$(function(){
	$("#editForm").validationEngine("attach",{ 
		promptPosition:"centerRight",
		scroll:true,
		showOneMessage:true
	});
	var ue = UE.getEditor('UEContent');
});

var editor;
KindEditor.ready(function(K) {
	editor = K.create('#info', {
	resizeType : 1,
	allowPreviewEmoticons : false,
	allowImageUpload : true,
	uploadJson : '/index.php?m=User&c=Qiniu&a=kindEditorUpload',
	items : [
	'source','undo','plainpaste','wordpaste','clearhtml','quickformat','selectall','fullscreen','fontname', 'fontsize','subscript','superscript','indent','outdent','|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline','hr']
	});
});

$(function(){
	function check(el){
		if($(el).is(':checked')){
			$('#signEndTime').show();
		}
		else $('#signEndTime').hide();
	}
	check($('#onlineSign'));
	$('#onlineSign').change(function(){
		check(this);
	});
})
</script>

<script type="text/javascript">
	$("[data-toggle='upload-reward-img']>.upload-file").AjaxFileUpload({
		action: "{:U('Qiniu/upload')}",
		onComplete: function(filename, resp) {
			if(resp.error !=0){
				alert(resp.message);
			}
			else{
				var wrapper = $(sprintf(TPL,resp.url,targetName,resp.url));
				wrapper.appendTo('#'+target);
				wrapper.find('.img-remove').click(function(){
					$(this).parent().remove();
				});
			}
		}
	});
	
	$(function(){
		$('[data-toggle="upload-reward-img"]').click(function(){
			window.target = $(this).attr('data-target');
			window.targetName = $(this).attr('data-target-name');
		});
		$('.img-remove').click(function(){
			$(this).parent().remove();
		});
		$('.upload-music').click(function(){
			window.targetMusic = $(this).attr('data-target');
		});
	})
	
	$(".upload-music").AjaxFileUpload({
		action: "/User/Qiniu/Upload.html",
		onSubmit:function(){
			spark.showIndicator();
		},
		onComplete: function(filename, response) {
			spark.hideIndicator();
			if(response.error == 0){
				$('#'+targetMusic).val(response.url);
			}
			else{
				alert(response.message);
			}
		},
		onError: function(ret){
			spark.hideIndicator();
			alert(ret);
		}
	});
</script>


</block>
<block name="content">
<div class="container-fluid">
<div class="page-header">
	<a class="btn btn-sm btn-default" href="{:U('Power/set')}"><i class="fa fa-chevron-left"></i>&nbsp;返回</a>
</div>
<code><?php echo C('WAP_DOMAIN').'/wap/Power/index?token='.session('token').'&id='.$vo['id'];?></code>
<div style="margin-top:10px;">
	<form class="form-horizontal" method="post" action="">
		<if condition="$vo['id'] neq ''">
		  <input type="hidden" name="id" value="{$vo['id']}">
		</if>
		<div class="form-group">
			<label class="col-sm-2 control-label wm-control-label" >首页标题</label>
			<div class="col-md-4">
				<input type="text" name="title" value="{$vo.title}" class="form-control" />
			</div>
		</div>
		<div class="form-group">
			<label for="ppicurl" class="col-sm-2 control-label wm-control-label">背景画面</label>
			<div class="col-sm-6" >
				<input type="hidden" name="ppicurl" id="ppicurl" value="{$vo.ppicurl|default=RES.'/images/photo/noneimg.jpg'}" class="form-control" />
				<img id="ppicurlHolder" style="width:216px;height:120px;" <if condition="($vo eq null) OR($vo['ppicurl'] eq '')">src="{:RES}/images/photo/noneimg.jpg"</if> src="{$vo.ppicurl}"/>
				<div class="btn-group" style="vertical-align:bottom;">
					<span class="btn btn-xs btn-primary" onclick="selectAsset('ppicurl',400,720)">
						<span class="glyphicon glyphicon-cloud-upload"></span>选择
					</span>
					<span class="btn btn-primary btn-xs" onclick="previewImg('ppicurl')">
						<span class="glyphicon glyphicon-picture"></span>预览
					</span>
					&nbsp;&nbsp;建议尺寸:400*720
				</div>
			</div>
		</div>
		<div class="form-group">
					<label class="control-label col-xs-2">背景音乐</label>
					<div class="col-md-5">
						<div class="input-group">
							<input type="text" class="form-control" id="music1" name="musicurl" value="{$vo.musicurl}" />
							<span class="input-group-btn btn-upload">
								<button class="btn btn-default" type="button"><i id="uploadIcon" class="glyphicon glyphicon-cloud-upload"></i></button>
								<input class="upload upload-music" type="file" name="file" data-target="music1" />
							</span>
						</div>
					</div>
		</div>
		
		
		<div class="form-group">
			<label class="control-label col-xs-2">活动标题</label>
			<div class="col-md-4">
				<input type="text" name="name" value="{$vo.name}" class="form-control">
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-xs-2">顶部幻灯片1</label>
			<div class="col-md-4">
				<input type="hidden" name="picurl" value="{$vo.banner}" class="form-control" id="img" style="display:inline-block;width:250px;" />
				<img id="imgHolder" style="width:216px;" class="img" src="{$vo.banner}"/>
				<div class="btn-group" style="vertical-align:bottom;">
					<span class="btn btn-xs btn-primary" onclick="selectAsset('img',720,400)">
						<span class="glyphicon glyphicon-cloud-upload"></span>选择
					</span>
					<span class="btn btn-primary btn-xs" onclick="previewImg('img')">
						<span class="glyphicon glyphicon-picture"></span>预览
					</span>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-xs-2">顶部幻灯片2</label>
			<div class="col-md-4">
				<img id="banner2Holder" style="width:216px;" class="img" src="{$vo.banner2}"/>
				<input type="hidden" name="banner2" value="{$vo.banner2}" class="form-control" id="banner2" />
				<div class="btn-group" style="vertical-align:bottom;">
					<span class="btn btn-xs btn-primary" onclick="selectAsset('banner2')">
						<span class="glyphicon glyphicon-cloud-upload"></span>选择
					</span>
					<span class="btn btn-primary btn-xs" onclick="previewImg('banner2')">
						<span class="glyphicon glyphicon-picture"></span>预览
					</span>
				</div>
			</div>
		</div>
		
		
		<div class="form-group">
			<label class="control-label col-xs-2">活动简介</label>
			<div class="col-md-4">
				<textarea class="form-control" id="des" name="info" style="height: 120px;">{$vo.des}</textarea>
			</div>
		</div>
        <div class="form-group">
			<label class="control-label col-xs-2">活动时间：</label>
			<div class="col-md-6">
				<input type="input" class="form-control" id="startdate" value="{$vo.starttime|default=time()|date="Y-m-d H:i",###}" data-minview="0" data-format="yyyy-mm-dd hh:ii" data-toggle="datetime-picker" name="startdate" />
					
				到
				<input type="input" class="form-control" id="enddate" data-minview="0" data-format="yyyy-mm-dd hh:ii"  value="{$vo.endtime|default=(time()+10*86400)|date="Y-m-d H:i",###}" name="enddate"  data-toggle="datetime-picker"  /> 
					</div>
		</div>
        
		
		<div class="form-group">
			<label class="control-label col-xs-2">关注人数重命名：</label>
			<div class="col-md-4">
				<input type="text" name="rename1" value="{$vo.rename1}" class="form-control" />
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-xs-2">参与人数重命名：</label>
			<div class="col-md-4">
				<input type="text" name="rename2" value="{$vo.rename2}" class="form-control" />
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-xs-2">项目进展重命名：</label>
			<div class="col-md-4">
				<input type="text" name="rename3" value="{$vo.rename3}" class="form-control" />
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-xs-2">爱心留言重命名：</label>
			<div class="col-md-4">
				<input type="text" name="rename4" value="{$vo.rename4}" class="form-control" />
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-xs-2">你是第~重命名：</label>
			<div class="col-md-4">
				<input type="text" name="rename5" value="{$vo.rename5}" class="form-control" />
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-xs-2">助力者重命名：</label>
			<div class="col-md-4">
				<input type="text" name="rename6" value="{$vo.rename6}" class="form-control" />
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-xs-2">留言默认加载条数（数字）：</label>
			<div class="col-md-4">
				<input type="text" name="page" value="{$vo.page}" class="form-control" />
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-xs-2">留言点击加载显示条数：</label>
			<div class="col-md-4">
				<input type="text" name="page1" value="{$vo.page1}" class="form-control" />
			</div>
		</div>
		
		
		<div class="form-group">
			<label class="control-label col-xs-2">分享标题：</label>
			<div class="col-md-4">
				<input type="text" name="share_title" value="{$vo.share_title}" class="form-control" />
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-xs-2">分享图片：</label>
			<div class="col-md-4">
				<img id="shareImgHolder" style="width:216px;" class="img" src="{$vo.share_img}"/>
				<input type="hidden" name="share_img" value="{$vo.share_img}" class="from-control" id="shareImg" />
				<div class="btn-group" style="vertical-align:bottom;">
					<span class="btn btn-xs btn-primary" onclick="selectAsset('shareImg',720,400)">
						<span class="glyphicon glyphicon-cloud-upload"></span>选择
					</span>
					<span class="btn btn-primary btn-xs" onclick="previewImg('shareImg')">
						<span class="glyphicon glyphicon-picture"></span>预览
					</span>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-xs-2">分享内容：</label>
			<div class="col-md-4">
				<input type="text" name="share_detail" value="{$vo.share_detail}" class="form-control" />
			</div>
		</div>
		 <div class="form-group">
		 <label class="control-label col-xs-2">文章正文：</label>
			<div class="col-sm-10">
				<textarea id="UEContent" style="height:420px;" name="content" >{$vo['content']|htmlspecialchars_decode}</textarea>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-xs-2">留言是否审核：</label>
			<div class="col-md-4">
				<label><input <?php if($vo['online_sign'])echo 'checked';?> type="checkbox" name="online_sign" value="1" /></label>
			</div>
		</div>
			
		
		
		<div class="form-group">
			<label class="control-label col-xs-2">内页分享标题：</label>
			<div class="col-md-4">
				<input type="text" name="zsbt" value="{$vo.zsbt}" class="form-control" />
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-xs-2">内页分享内容1（我是第）：</label>
			<div class="col-md-4">
				<input type="text" name="zscw" value="{$vo.zscw}" class="form-control" />
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-xs-2">内页分享内容2：</label>
			<div class="col-md-4">
				<input type="text" name="zsnr" value="{$vo.zsnr}" class="form-control" />
			</div>
		</div>
		
		
		<div class="form-group">
			<label class="control-label col-xs-2">分享后是否弹出证书页面：</label>
			<div class="col-md-4">
				<label><input id="onlineSign" <?php if($vo['cert_sign'])echo 'checked';?> type="checkbox" name="cert_sign" value="1" /></label>
			</div>
		</div>
		<div id="signEndTime">
			<div class="form-group">
				<label class="control-label col-xs-2">证书背景图片：</label>
				<div class="col-md-4">
					<img id="sign_bannerHolder" style="width:216px;" class="img" src="{$vo.zsbj}"/>
					<input type="hidden" name="zsbj" value="{$vo.zsbj}" class="from-control" id="sign_banner" />
					<div class="btn-group" style="vertical-align:bottom;">
						<span class="btn btn-xs btn-primary" onclick="selectAsset('sign_banner',720,400)">
							<span class="glyphicon glyphicon-cloud-upload"></span>选择
						</span>
						<span class="btn btn-primary btn-xs" onclick="previewImg('sign_banner')">
							<span class="glyphicon glyphicon-picture"></span>预览
						</span>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-xs-2">证书标题：</label>
				<div class="col-md-4">
					<input type="text" name="sign_title" value="{$vo.sign_title}" class="form-control" />
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-xs-2">副标题后半句（位指尖助力大使）：</label>
				<div class="col-md-4">
					<input type="text" name="sign_title1" value="{$vo.sign_title1}" class="form-control" />
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-xs-2">证书内容：</label>
				<div class="col-md-4">
					<input type="text" name="sign_info" value="{$vo.sign_info}" class="form-control" />
				</div>
			</div>
		</div>
		
		
		
		<div class="form-group">
			<div class="col-md-4 col-xs-offset-2">
				<button type="submit" name="button" class="btn btn-success">保存</button>
			</div>
		</div>
	</form>
</div>
</div>
</block>