<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <meta charset="UTF-8">
    <title>爱心荣誉证书</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />
    <meta name="viewport" content="initial-scale=1, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <link href="{:RES}/css/ktv/style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{:RES}/css/yl/news.css" />
	<script src="{:STATICS}/js/zepto.min.js" type="text/javascript"></script>
</head>
<body>
<div class="content">
<div class="list-block">
	<div class="list-block-title" style="border-bottom: 1px solid #4C4848;padding-bottom: 10px; font-size:20px;">爱心荣誉证书</div>	
</div>
	<div class="marginb">
       <h3 style="  margin: 10px 0;">你是第{$date['pcount']}位指尖助力大使</h3>
        您的爱心给环卫工人带来了一份炎炎夏日的清凉，感谢您对依立腾“指尖助力—微力量 我为环卫工送瓶水”公益活动的支持！
    </div>
    <h5 style="color:#aaa;font-size:12px; float:right;"> <?php echo date('Y年m月d日',time());?></h5>
</div>
<include file="menu_style" />
</body>
</html>
