<extend name="Public:innerbase"/>
<block name="content">
<div class="container-fluid"  >
    <div class="page-header">
		<h4 class="page-title">砸蛋活动信息 ({$count}) 条<span class="FAQ">你本月有 {$group.activity_limit} 次机会可免收活动创建费，已经使用了 {$activity_num} 次机会!</span></h4>
    </div>
    <a href="{:U('Zadan/add',array('token'=>$token))}" title='新增砸金蛋活动' class='btn btn-success'>新增砸金蛋活动</a>
	<hr/>
	<TABLE class="table wm-table-bordered">
		<THEAD>
			<TR>
				<TH>活动名称</TH>
				<TH>关键词</TH>
				<TH>有效参与人数</TH>
				<TH>总浏览数</TH>
				<TH>开始时间/结束时间</TH>
				<TH>状态</TH>
				<TH>操作</TH>
			</TR>
		</THEAD>
		<TBODY>
			<TR></TR>
			<volist id="list" name="list">
			<TR>
			  <TD>{$list.title}</TD>
			  <TD>{$list.keyword}</TD> 
			  <TD>{$list.joinnum}</TD>
			  <TD>{$list.pv}</TD>                  
			  <TD>{$list.startdate|date='Y-m-d',###}/{$list.enddate|date='Y-m-d',###}</TD>
			  <TD>
				<if condition="$list['status'] eq 0">未开始<elseif condition="$list['status'] eq 2"/>已经结束<else/>已经开始</if>
				</TD>
			   <TD class="norightborder">
			   <a href="{:U('sn?type=2&id='.$list['id'])}">SN码管理</a> 
			   <a href="{:U('edit?id='.$list['id'])}">编辑</a>  
			   <a href="
			   <if condition="$list['status'] eq 1">				   
			   javascript:drop_confirm('你确定要结束活动吗，结束后不可再开启本活动!',"{:U('setdes?id='.$list['id'])}");<else/>{:U('setinc?id='.$list['id'])}  
			   </if>">
			   <if condition="$list['status'] eq 0">开始<elseif condition="$list['status'] eq 2"/><else/>结束</if>
			   </a>
			   <a href="{:U('del?id='.$list['id'])}">删除</a></TD>
			</TR>
			</volist>
		  </TBODY>
		</TABLE>
        <div class="pages">{$page}</div>
    </div>
</block>