<!DOCTYPE>
<html lang="zh_CN">
<head>
<meta charset="UTF-8">
<title>{$tpl['wxname']}</title>
<base href="." />
<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" type="text/css" href="{:RES}/css/yuesh/wz.css" />
<link rel="stylesheet" href="{:RES}/css/flash/css/plugmenu.css">
</head>
<body>
	<div id="cate5">
		<ul class="mainmenu">
			<volist name="info" id="vo">
			<li><a href="<if condition="$vo['url'] eq ''">{:U('Wap/Index/lists',array('classid'=>$vo['id'],'token'=>$vo['token']))}<else/>{$vo.url}</if>">
				<div class="menubtn">
					<div class="menumesg">
						<div class="menuimg">
							<div class="menuimg2">
								<img src="{$vo.img}" />
							</div>
						</div>
						<div class="menutitle">{$vo.name}</div>
						<div class="menutext">{$vo.info}</div>
					</div>
				</div>
			</a></li>
			</volist>   
			<div class="clr"></div>
		</ul>
	</div>
	<include file="menu_style" />
	<script src="{:RES}/css/flash/js/zepto.min.js" type="text/javascript"></script>
	<script src="{:RES}/css/flash/js/plugmenu.js" type="text/javascript"></script>
	<div class="copyright">
		<if condition="$iscopyright eq 1">
			{$homeInfo.copyright}
		<else/>
			{$siteCopyright}
		</if>
	</div>
</body>
</html>
