<extend name="Public:innerbase" />
<block name="content">
<div class="container-fluid">
<div class="page-header">
	<h4 class="left">红包领取记录</h4>
	<a href="javascript:history.go(-1);" class="btn btn-default btn-sm">返回</a>
</div>
<div class="msgWrap">
	<table class="table table-bordered">
	<thead>
		<tr>   
			<th width="50">商户单号</th>
			<th width="50">获得者</th>
			<th width="50">红包面值</th>
			<th width="80">获取时间</th>
			<th width="50">是否领取</th>
			<th width="50">获得方式</th>
		</tr>
	</thead>
	<tbody>
	<volist name="list" id="list">
	<tr>
		<td>{$list.mch_billno}</td>
		<td>{$list.wechat_name}</td>
		<td>{$list.packet_value}</td>
		<td>{$list.time|date='Y-m-d H:i',###}</td>
		<td>
			<if condition="$list.isuser eq '1'">
			已领取
			<elseif  condition="$list.isuser eq '0'"/>
			未领取
			</if>
		</td>
		<td>
			<if condition="$list.type eq '1'">
			{$list.share_name}分享赠与
			<elseif  condition="$list.type eq '0'"/>
			自己获得
			</if>
		</td>
	</tr>
	</volist>
	</tbody>
	</table>
</div>
<div class="pages">{$page}</div>
</div>
</block>