<extend name="Public:innerbase" />
<block name="css">
<style type="text/css">
.vipcard{
  margin: 0 auto;
  position: relative;
  height: 159px;
  text-align: left;
  width: 267px;
}

#cardbg{
  height: 159px;
  width: 267px;
  position:absolute;
  border-radius: 8px;
  -webkit-border-radius:8px;
  -moz-border-radius:8px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
  -moz-box-shadow:0 0 4px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow:0 0 8px rgba(0, 0, 0, 0.6);
  top:0;
  left:0;
  z-index:1;
}
.vipcard .logo {
  max-height:70px;
  position:absolute;
  top:8px;
  left:5px;
  z-index:2;
  width: 30px;
}
.vipcard .verify {
  display:inline-block;
  height:40px;
  top:105px;
  right:12px;
  text-align:right;
  line-height:24px;
  color:#000;
  font-size:20px;
  text-shadow:0 1px rgba(255, 255, 255, 0.2);
  z-index:2;
}

.vipcard h1 {
  position:absolute;
  right:10px;
  top:7px;
  text-shadow:0 1px rgba(255, 255, 255, 0.2);
  color:#000;
  font-size:11px;
  line-height:25px;
  text-align:right;
  font-weight: normal;
  z-index:2;
}
.vipcard .verify span {
display:inline-block;
text-align:left;
}
.vipcard .verify em {
display:block;
line-height:13px;
font-size:10px;
font-weight:normal;
font-style:normal;
}
.pdo {
  position:absolute;
  top:0;
  left:0;
  display:inline-block;
}
.userinfoArea td {
    padding: 8px 0 0px 15px;
}
#tishi{
  text-align: center;display: block;
}
.banner{
  display:block; width:213px;height: 278px;overflow: hidden;
}
.banner img{
  display:block; width:213px; border:0;
}
.bannerbtn{ position:relative; display:block}
.bannerbtn .qiaodaobtn{ position: absolute; display:block; bottom:0}
</style>
</block>
<block name="js">
<include file="Public:upload" />
<script type="text/javascript" src="{:RES}/js/date/WdatePicker.js"></script>
<script type="text/javascript" src="{:RES}/js/cart/jscolor.js"></script>
<script type="text/javascript" src="{:STATICS}/js/holder.min.js"></script>
</block>
<block name="content">
<div class="container-fluid">
  <!-- Nav tabs -->
<div class="page-header">
        <h3>发送短信消息</h3>
    </div>

  <!-- Tab panes -->
  <form class="form-horizontal" method="post">
  <div class="tab-content">
    <!-- 会员卡设计 -->
    
    <div class="tab-pane active" id="home"> 

    <div class="form-group">
         <label class="col-sm-2">指定人</label>
        <div class="col-md-4">
          <label>
          <input type="radio"  name="status"  value="1" />所有人
          
          <input type="radio"  name="status"   value="2" />指定用户
          
          </label>
        </div>
      </div>
      <div id="errormsg" style="display:none;">   
        <div class="form-group">
           <label class="col-sm-2">填写指定的手机号码：</label>
      
        <div class="col-md-4">
          <input type="text" name="phone"  class="form-control" />
          <span class="help-block">多个号码用英文状态下 逗号 分隔 </span>
        </div>
        </div>
      </div>

      <script>
      $(function(){
        function check(e){
          if($(e).val()==2){
            $('#errormsg').show();
          }else{ $('#errormsg').hide()};
         
        }
        $("input[name='status']").change(function(){
          check(this);
        })        
      })  
      </script>   
       
        <div class="form-group">
          <label class="col-sm-2">内容</label>
          <div class="col-md-4">
            <textarea class="form-control"  name="content" style="height:125px">
</textarea>

           
            <span class="help-block">发送的短信内容文字：</span>
			<span class="help-block">您好！您的提现资金已成功转至您的支付宝账号，请留意查收。//  您好！您本期的代理佣金已成功转至您的代理账户中，请留意查收。  //您好！抱歉，系统检测到您的提现申请异常（原因：），申请未通过。</span>
          </div>
        </div>
    
       
        <div class="form-group">
          <div class="col-md-4 col-sm-offset-2">
            <input type="submit" class="btn btn-primary" value="发送" />
          </div>
        </div>
    </div>

  </div>
  </form>
</div>
</block>