<extend name="Public:innerbase"/>
<block name="content">
	<div class="container-fluid">
		<div style="margin:10px 0;">
			<a href="{:U('Pass/addpt')}"  title="添加活动" class="btn btn-success">添加活动</a>
		</div>
		<table class="table table-striped wm-table-bordered">
			<thead>
				<tr>
					<th>标题</th>
					
					<th>参加人数</th>				
					<th class="norightborder">操作</th>
				</tr>
			</thead>
			<tbody>
				<volist id="list" name="list">
				<tr>
					<td>{$list.title}</td>
					
					<td>{$list.score}</td>

					<td class="norightborder">		
						<a href="{:U('Pass/editpt',array('id'=>$list['id']))}" title="编辑">编辑</a> |
						<a href="javascript:spark.confirm_jump('您确定要删除吗?', '{:U('Pass/delpt',array('id'=>$list['id']))}');">删除</a> 
					</td>
				</tr>
				</volist>
			</tbody>
        </table>
	</div>
</block>