<extend name="Public:innerbase" />
<block name="css">
<link rel="stylesheet" href="{:STATICS}/validation/css/validationEngine.jquery.css">
<link type="text/css" rel="stylesheet" href="{:STATICS}/datetimepicker/css/bootstrap-datetimepicker.min.css" />
</block>
<block name="js">
<script type="text/javascript" src="{:STATICS}/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="{:STATICS}/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
<script src="{:STATICS}/spark/spark.util.js"></script>
<script type="text/javascript" src="{:STATICS}/validation/js/jquery.validationEngine.js"></script>
<script type="text/javascript" src="{:STATICS}/validation/js/jquery.validationEngine-zh_CN.js"></script>
<script>
$(function(){
	$("#form").validationEngine("attach",{ 
		promptPosition:"centerRight",
		scroll:true,
		showOneMessage:true
	});
	$(".datetime-picker").datetimepicker({format: 'yyyy-mm-dd',language:'zh-CN',minView:2,autoclose:true});
});
	function find(da) {
		$("input[name='type']").val(da);
	}
	
	function che() {
		var temp=/^(\+|-)?\d+($|\.\d+$)/
		var s = document.getElementById("money");
		if(temp.test(s.value)==false){
			alert("充值金额不正确！");
			return false;
		}
	}

	function check(){
		var pass1= $("input[name='password']").val();
		var repass1= $("input[name='repassword']").val();	
	}
</script>
</block>
<block name="content">
<div class="container-fluid">
	<div class="page-header wm-page-header">
		<h4 class="left">代理编辑</h4>
		<a href="{:U('member/channel')}" class="btn btn-sm btn-default">
			<span class="glyphicon glyphicon-chevron-left"></span>&nbsp;返回
		</a>
	</div>
	
	<form id="form" class="form-horizontal" method="post" style="margin-top:20px;">
		<input type="hidden" name="id" value="{$member.id}" />
		<div class="form-group">
			<label class="control-label col-xs-2">用户名</label>
			<div class="col-md-4">
				<input type="text" name="username" class="validate[required] form-control" value="{$member.username}" />
			</div>
		</div>
		
		
		<div class="form-group">
			<label class="control-label col-xs-2">电话</label>
			<div class="col-md-4">
				<input type="text" name="phone" disabled class="validate[required] form-control"  value="{$member.phone}" />
				<span class="help-block">渠道关联的手机号，该手机号发展的会员都能拿盈亏返点（*） </span>
			</div>	
		</div>
		
		<div class="form-group">
			<label class="control-label col-xs-2">办公室地址</label>
			<div class="col-md-4">
				<input type="text" name="address" class="form-control"  value="{$member.address}" />
			</div>
		</div>
		
		<div class="form-group">
			<label class="control-label col-xs-2">身份证信息</label>
			<div class="col-md-4">
				<input type="text" name="idcard" class="form-control" value="{$member.idcard}" />
			</div>
		</div>
		
		<div class="form-group">
			<label class="control-label col-xs-2">公司名称</label>
			<div class="col-md-4">
				<input type="text" name="company" class=" form-control" value="{$member.company}" />
			</div>
		</div>
		
		<div class="form-group">
		<label class="control-label col-xs-2">盈亏返点(百分比)</label>
			<div class="col-md-6">
				<div class="input-group">
					<input type="text" class="form-control" name="fandian" value="{$member.fandian|default=0}" style="width:50px;"/>
					<span class="input-group-btn" >
						<button class="btn btn-default" type="button" style="margin-right: 676px;">%</button>
					</span>
				</div>
			</div>
		</div>	
		<div class="form-group">
			<label class="control-label col-xs-2">密码</label>
			<div class="col-md-4">
				<input type="password" name="password" class="form-control" />
					   
					   <span class="help-block">为空则不修改密码 </span>
			</div>
		</div>
		
		
		
		<div class="form-group">
			<div class="col-md-4 col-xs-offset-2">
				<button type="submit" onclick="return check()" class="btn btn-success">保存</button>
			</div>

		</div>
	</form>
</div>
</block>