<extend name="Public:innerbase" />



<block name="js">



<script src="{:RES}/js/date/WdatePicker.js"></script>



	<script src="{:RES}/js/date/WdatePicker.js"></script>

	<script type="text/javascript" src="{:STATICS}/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
	<script>
        $(function(){
            $(".datetime-picker").datetimepicker({format: 'yyyy-mm-dd',language:'zh-CN',minView:2,autoclose:true});
        });

	</script>
</block>



<block name="content">



<div class="container-fluid">



	<ul class="nav nav-tabs wm-tabs">



		<li class="active"><a href="javascript:void(0)">会员管理</a></li>



		 <li><a href="{:U('Member/adduser')}">添加会员</a></li>



	</ul>



	<div class="page-header wm-page-header">



	 	<form method="get" action="__SELF__" class="form-inline">



		



		<label>姓名</label>



		<input name="wechat_name" type="text" value="{$_GET['wechat_name']}" class="form-control" />



		<label>手机号</label>



		<input name="phone" type="text" value="{$_GET['phone']}" class="form-control" />
			<label>时间</label>
			<input name="starttime" type="text" value="{$_GET['starttime']}" class="form-control datetime-picker" />
			~
			<input name="endtime" type="text" value="{$_GET['endtime']}" class="form-control datetime-picker" />


		<button class="btn btn-primary" type="submit">



			<span class="glyphicon glyphicon-search"></span>



			查询



		</button>



		</form> 



	</div>

<script>
			function sub(id,star=0){
				$("#star").get(0).selectedIndex = star;
				$("input[name='orderid']").val(id);
			}

		</script>


	<TABLE class="table wm-table-bordered table-striped table-hover">



		<THEAD>



		<TR>



			<TH>ID</TH>



			



			<TH>姓名</TH>
			<TH>微信名</TH>
			<TH>电话</TH>
			
			<TH>一级人数</TH>
			<TH>二级人数</TH>
			<TH>三级人数</TH>

			<TH>注册时间</TH>



			<TH>余额</TH>
			<TH>总充值</TH>


			<TH>虚拟金额(元)</TH> 



			<TH>冻结金额</TH>


			<TH>所属代理</TH>
			<TH>所属经纪人</TH>
			<TH>状态</TH>



			    <TH>操作</TH>    



			



		</TR>



		</THEAD>



		<TBODY>



		<volist id="list" name="list">



		<TR>



			<TD>{$list.id}</TD>


			<TD>{$list.username}</TD>
			<TD>{$list.wechat_name}</TD>



			<TD>{$list.phone}</TD>
			
			<TD><if condition="$list['num'][0]['count'] gt 0"><a href="{:U('Member/mychild',['lever'=>0,'pid'=>$list['id']])}"> <span style="color:red;"> {$list['num'][0]['count']|default=0}</span></a><else /> 0</if></TD>
			<TD><if condition="$list['num'][1]['count'] gt 0"><a href="{:U('Member/mychild',['lever'=>1,'pid'=>$list['id']])}"> <span style="color:#0012ff;"> {$list['num'][1]['count']|default=0}</span></a><else /> 0</if></TD>
			<TD><if condition="$list['num'][2]['count'] gt 0"><a href="{:U('Member/mychild',['lever'=>2,'pid'=>$list['id']])}"> <span style="color:green;"> {$list['num'][2]['count']|default=0}</span></a><else /> 0</if></TD>



			<TD>	{$list.create_time|date='Y-m-d H:i',###}</TD>



			<TD>{$list.money}</TD>
			<TD>{$list.paysum|default=0}</TD>


			<TD>{$list.coin}</TD>



			<TD>{$list.dongjie}</td>

			<TD>{$list.channel}</td>
			<TD>{$list.agent}</td>

			<TD>
				<if condition="$list.star eq 1">
				<a href="###" class="btn btn-xs btn-primary">团队领导</a>

				</if>



				<if condition="$list.status eq 1"><span style="color:red">冻结</span><else />正常</if></td>



		<TD style="text-align:center;">

<button data-toggle="modal" data-backdrop="static" data-target="#modal"
								class="btn btn-default btn btn-xs btn-danger" type="button" onclick="sub({$list['id']},{$list['star']})">更改身份</button>

			<a href="{:U('changeChannel?id='.$list['id'],array('channel_id'=>$list['channel_id']))}" class="btn btn-xs btn-danger">更改代理商</a>
				<a href="{:U('detail?id='.$list['id'])}" class="btn btn-xs btn-primary">查看</a>

				<if condition="$list.status eq 1">

				<span class="btn btn-xs btn-danger" onclick='spark.confirm_jump("会员解冻可登录个人页面，您确定要继续吗?", "{:U('User/Member/del',['id'=>$list['id'],'status'=>0])}")'>

				解冻</span>
				<else />
<span class="btn btn-xs btn-danger" onclick='spark.confirm_jump("会员冻结后不可登录个人页面，您确定要继续吗?", "{:U('User/Member/del',['id'=>$list['id'],'status'=>1])}")'>冻结

				</span>

			</if>
			<a class="btn btn-xs btn-danger" onclick='spark.confirm_jump("删除会员会导致此会员不可用，您确定要继续吗?", "{:U('User/Member/delUser',['id'=>$list['id'],'status'=>0])}")'>删除</a>
			</TD>



		</form>



		</TR>



		</volist>



	  </TBODY>



	</TABLE>



	<div>{$page}</div>



</div>
<div class="modal fade"  id="modal">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						<h4 class="modal-title">更改用户身份</h4>
					</div>
					<div class="modal-body">
						<form id="form" class="form" method="post" action="{:U('change')}">
							<input type="hidden" name="orderid"  />
							
							<div class="form-group">
								<label for="score">会员等级</label>
								<select  name="star" id='star' class="form-control">
									<option  value="0" >免费会员</option>
									<option  value="1">团队领导人</option>
								</select>

							</div>
							<button type="submit" class="btn btn-primary">确定</button>
						</form>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->

</block>