<extend name="Public:innerbase" />
<block name="js">
<script src="{:RES}/js/date/WdatePicker.js"></script>
</block>
<block name="content">
<div class="container-fluid">
	
	<!-- <div class="page-header wm-page-header">
		<form method="get" action="__SELF__" class="form-inline">
		<label>卡号</label>
		<input name="number" type="text" value="{$_GET['number']}" class="form-control" />
		<label>姓名</label>
		<input name="truename" type="text" value="{$_GET['truename']}" class="form-control" />
		<label>手机号</label>
		<input name="mobile" type="text" value="{$_GET['mobile']}" class="form-control" />
		<button class="btn btn-primary" type="submit">
			<span class="glyphicon glyphicon-search"></span>
			查询
		</button>
		</form>
	</div> -->
	<TABLE class="table wm-table-bordered table-striped table-hover">
		<THEAD>
		<TR>
			<TH>会员卡号</TH>
			<TH>会员卡级别</TH>
			<TH>姓名</TH>
			<TH>联系电话</TH>
			<TH>状态</TH> 
			<TH>金额</TH>

			<TH>操作时间</TH>
			<TH>操作人</TH>
		
			
		</TR>
		</THEAD>
		<TBODY>
		<volist id="list" name="list">
		<TR>
			<TD>{$list.number}</TD>
			<TD>{$list.type_name}</TD>
			<TD>{$list.truename}</TD>
			<TD>{$list.tel}</TD>
			<TD>{$list.remark}</td>
			<TD><a href="{:U('Member/detail',array('id'=>$list['userid']))}">{$list.phone}</a></td>
			<TD>
			<if condition="$list['time'] neq false">
				{$list.time|date='Y-m-d H:i',###}
			<else/>
			无时间记录
			</if>
			</TD>
<TD>{$list.account_name}</td>
		
		</form>
		</TR>
		</volist>
	  </TBODY>
	</TABLE>
	<div>{$page}</div>
</div>
</block>