<!DOCTYPE HTML>
<html>
<head>
<include file="Public:headtop" />
<link type="text/css" rel="stylesheet" href="{:RES}/css/default.css" />
<title>{$cate_info.name}</title>
<style>
.item-wrapper{
	padding:5px 10px;
	box-shadow:0 0 5px #ccc;
	-webkit-box-shadow:0 0 5px #ccc;
	background:#fff;
}
.good_content small{
color:#999;
text-decoration: line-through;
}
</style>
</head>
<body>
<div id="content">
    <div class="module_special tbr">
        <div class="wrap">
            <div class="wrap_child">
                <div class="major">
                    <ul class="list">
                    <volist name="collects" id="item">
                    <li>
						<a href="{:U('Item/index',array('id'=>$item['item_id'],'token'=>$token))}">
							<div class="item-wrapper">
								<div class="pic">
									<img src="{:$item['img']}" />
								</div>
								<div class="good_content">
									<h3>{$item.title}</h3>
									<p>¥{$item.oprice}&nbsp;&nbsp;&nbsp;<small>¥{$item.price}</small></p>
								</div>
							</div>
						</a>
                    </li>
                    </volist>
					</ul>
                </div>
            </div>
        </div>
    </div>
    <div class="clear">
    </div>
</div>
<include file="Public:footer" />
</body>
</html>