<div role="tabpanel">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#upload" aria-controls="home" role="tab" data-toggle="tab">本地上传</a></li>
    <li role="presentation"><a href="#network" aria-controls="profile" role="tab" data-toggle="tab">网络图片</a></li>
    <li role="presentation"><a href="#history" aria-controls="messages" role="tab" data-toggle="tab">图片空间</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="upload">
		<div class="btn-upload">
			<input type="file" name="file" />
			<span class="btn btn-primary"><i class="fa fa-img"></i>选择图片</span>
		</div>
	</div>
    <div role="tabpanel" class="tab-pane" id="network"></div>
    <div role="tabpanel" class="tab-pane" id="history"></div>
  </div>
</div>